# API Key dari Google AI Studio
GEMINI_API_KEY=yotur_google_ai_studio_api_key_here

# Private Key dari Core Wallet (isi dengan AVAX Fuji Testnet)
RELAYER_PRIVATE_KEY=your_private_key_here
# Avalanche Fuji RPC
AVALANCHE_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc

# Alamat Smart Contract yang sudah dideploy
CONTRACT_ADDRESS=tyour_smart_contract_address_here
DB_HOST=your_database_host_here
DB_PORT=your_database_port_here
DB_USER=your_database_user_here
DB_PASSWORD=your_database_password_here
DB_NAME=your_database_name_here